header {
    display: flex;
}

h1 {
    font: var(--h1);
}

h1 > i {
    margin-right: 0.5rem;
}

.header-text > div {
    font: var(--p);
}

.light-mode-toggle {
    margin-left: auto;
    align-self: center;
    aspect-ratio: 1/1;
    height: 40px;
    border-radius: 5px;
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    font: var(--h2);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.light-mode-toggle:hover {
    background: var(--gradient-hover);
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
}

.form-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 320px;
}

.form-card {
    border-radius: 5px;
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);

    padding: 1rem;
}

.form-card:hover {
    background: var(--gradient-hover);
}

h2 {
    font: var(--h2);
}
