header {
    display: flex;
}

h1 {
    font: var(--h1);
}

h1 > i {
    margin-right: 0.5rem;
}

.header-text > div {
    font: var(--p);
    color: var(--text-muted);
}

.light-mode-toggle {
    margin-left: auto;
    align-self: center;
    aspect-ratio: 1/1;
    height: 40px;
    border-radius: 5px;
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    font: var(--h2);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.light-mode-toggle:hover {
    background: var(--gradient-hover);
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
}

.form-panel {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 320px;
}

.form-card {
    border-radius: 5px;
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);

    padding: 1rem;
}

.inner-container {
    margin: 0.75rem 0 0 0;
    > .inner-header {
        display: flex;
        align-items: center;
        > button {
            margin-left: auto;
            /*aspect-ratio: 1/1;*/
            width: 25px;
            height: 25px;
        }
    }
}

/*.form-card:hover {
    background: var(--gradient-hover);
}*/

h2 {
    font: var(--h2);
}

.info-form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 0.6rem;
}

.form-row {
    display: flex;
    > input {
        margin-left: auto;
        padding-left: 0.3rem;
    }
}

.form-btn {
    width: 100%;
    margin-top: 0.2rem;
    > i {
        margin-right: 0.3rem;
    }
}
