.a4-container {
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
    width: 43rem;
    max-width: 100%;
    aspect-ratio: 210 / 297;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    * {
        color: black;
        font-family: sans-serif;
        font-size: 11pt;
        line-height: 1.1;
    }

    > .resume-header * {
        text-align: center;
        font-family: serif;
    }

    > .resume-header > h2 {
        font-size: 24pt;
    }

    > .resume-header > .job-title {
        font-size: 18pt;
        font-weight: 600;
        color: #434343;
    }

    > .resume-header > .contact-info {
        font-family: sans-serif;
        line-height: 1.5;
    }

    > .resume-body {
        margin-top: 20px;
        width: 85%;

        h3 {
            text-align: center;
            font-size: 13pt;
            border-bottom: 1px solid black;
        }
    }
}
